// Top-level wrapper, containing toggle + contents.
.dropdown {
    position: relative;

    &--search {
        position: static;
    }

    // Opened state
    [aria-expanded="true"] {

        // Specifically support turning an angle-down icon upwards.
        .hds-icon--angle-down {
            transform: rotate(180deg);
        }
    }

    &__content {
        display: none;

        // Opened state
        [aria-expanded="true"] + & {
            position: absolute;
            top: calc(100% + #{$spacing-4-xs});
            right: 0;
            z-index: 10;
            display: block;
            background: $color-white;
            border: .0625rem solid $color-black;

            &--search {
                top: unset;
                width: 100%;
            }
        }

        .hds-text-input--search {
            max-width: 600px;
            margin: 0 auto;
        }
    }

    &__menu {
        margin: 0;
        padding: $spacing-2-xs 0;

        li {
            display: block;

            a {
                display: block;
                color: $color-black;
                text-decoration: none;
            }
        }
    }
}
