.unit-search {
    &__title {
        font-size: $fontsize-heading-m;

        @include breakpoint(m) {
            font-size: $fontsize-heading-xl;
        }
    }
    &__form {
        margin-bottom: $spacing-xl;

        @include breakpoint(l) {
            margin-bottom: $spacing-5-xl;
        }
    }

    .form-row {
        display: flex;
    }

    .form-group {
        display: flex;
        align-items: flex-end;
        width: 50%;
        margin-right: $spacing-m;
    }

    .hds-text-input {
        width: 100%;
    }

    &__filters {
        @include list-reset;
        flex-wrap: wrap;
        margin-top: $spacing-xl;

        > li {
            margin-bottom: $spacing-m;
        }

        .hds-button {
            margin-right: $spacing-m;
            color: $color-bus;
            background-color: $color-fog;

            &:hover,
            &:focus {
                color: $color-bus;
                background-color: $color-fog-dark;
            }

            .hds-icon {
                color: $color-bus;
            }
        }

        [aria-expanded="false"] + & {
            display: none;
        }

        [aria-expanded="true"] + & {
            display: flex;
        }
    }

    &-filters-dropdown {
        margin-top: $spacing-m;
    }
}
