.event {
    &--not-found {
        padding-bottom: 5.5rem;
        text-align: center;

        .event__header {
            padding: $spacing-xl $spacing-m;
        }
    }

    &__not-found-text {
        font-size: $fontsize-body-l;
        text-align: center;

    }
}
